*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}

/* N A V I G A T I O N */

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 1em;

    background-color: #f0f0f0;
}

nav form, nav div.left {
    display: flex;
    flex-flow: column wrap;
}

nav form label {
    width: 100%;
    margin-right: 1em;
}

nav form span {
    display: flex;
    width: 100%;
}

nav form input[type="submit"] {
    width: 8em;
    align-self: center;
    margin-top: .5em;
}

nav div.center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

nav div.center ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;

    justify-content: space-evenly;
    width: 100%;
}

/* A C C U E I L */

div.songs ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

div.songs li {
    width: min-content;
    padding: 2em;
    padding-right: 0;
}

div.songs li a {
    position: relative;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

div.songs li a:not(:hover) h3, div.songs li a:not(:hover) h4, div.songs li a:not(:hover) b {
    display: none;
}

div.songs li img {
    width: 150px;
    height: 150px;
}

div.songs li a:hover img {
    filter: brightness(40%);
    transition: all .3s ease;
}

div.songs li b {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.main {
    margin: 0 10%;
    margin-top: 2em;
}

div.main fieldset {
    padding: 1em;
}

div.main form {
    display: flex;
    flex-flow: column wrap;

    margin: 0 20%;
}

div.main form span {
    display: flex;
    align-items: baseline;
}

div.main form input {
    padding: 6px 8px;
    margin-bottom: 1em;
}

div.main form input[type="submit"] {
    max-width: 8em;
}