*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* N A V I G A T I O N */

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 1em;

    background-color: #f0f0f0;
}

nav form, nav div.left {
    display: flex;
    flex-flow: column wrap;
}

nav div.left p b {
    color: green;
}

nav form label {
    width: 100%;
    margin-right: 1em;
}

nav form span {
    display: flex;
    width: 100%;
}

nav form input[type="submit"] {
    width: 8em;
    align-self: center;
    margin-top: .5em;
}

nav div.center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

nav div.center ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;

    justify-content: space-evenly;
    width: 100%;
}

/* A C C U E I L */

div.songs h2 {
    padding-left: 2em;
    padding-top: 1em;
}

div.songs ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

div.songs li {
    width: min-content;
    padding: 2em;
    padding-right: 0;
}

div.songs li a {
    position: relative;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

div.songs li a:not(:hover) h3, div.songs li a:not(:hover) h4, div.songs li a:not(:hover) b {
    display: none;
}

div.songs li img {
    width: 150px;
    height: 150px;
}

div.songs li a:hover img {
    filter: brightness(40%);
    transition: all .3s ease;
}

div.songs li b {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.main {
    padding: 2em;

    max-width: 100vw;
    max-height: 100%;
}

div.admin {
    display: flex;
    flex-flow: row nowrap;
}

div.admin > div {
    padding: 1em;
}

div.list table, div.list th, div.list td {
    border: 1px solid gainsboro;
    border-collapse: collapse;
}

div.list table tr:hover {
    background-color: rgb(214, 214, 214);
}

div.add {
    display: flex;
}

div.add form {
    display: flex;
    flex-flow: column wrap;
}

div.add fieldset {
    padding: .5em;
    height: fit-content;
}

div.add form input[type="text"], div.add form input[type="file"] {
    margin: .5em;
}

div.add form input[type="submit"] {
    padding: .5em;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 8em;
}

div.list table td, div.list table th {
    padding: 2px 4px;
}

div.infos.success {
    padding: .5em 1em;
    background-color: rgb(184, 226, 172);
}